:root {
  /* =========================
     background / foreground
     ========================= */
  --background: #ffffff;
  --foreground: #323236;

  /* =========================
     brand
     ========================= */
  --primary-500: #3d9ef2;
  --primary-100: #e5f3ff;

  /* =========================
     semantic
     ========================= */
  --red-500: #f27272;

  /* =========================
     grayscale
     ========================= */
  --black: #000000;
  --gray-950: #1f1f22;
  --gray-900: #323236;
  --gray-800: #49494c;
  --gray-700: #5d5d61;
  --gray-600: #707177;
  --gray-500: #84858c;
  --gray-400: #9fa0a7;
  --gray-300: #b3b4bc;
  --gray-200: #c6c8cf;
  --gray-100: #e0e0e5;
  --gray-50: #ededf2;
  --gray-25: #f8f8f8;
  --white: #ffffff;
}

/* =========================
   tailwind mapping
   ========================= */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary-500: var(--primary-500);
  --color-primary-100: var(--primary-100);

  --color-red-500: var(--red-500);

  --color-black: var(--black);
  --color-gray-950: var(--gray-950);
  --color-gray-900: var(--gray-900);
  --color-gray-800: var(--gray-800);
  --color-gray-700: var(--gray-700);
  --color-gray-600: var(--gray-600);
  --color-gray-500: var(--gray-500);
  --color-gray-400: var(--gray-400);
  --color-gray-300: var(--gray-300);
  --color-gray-200: var(--gray-200);
  --color-gray-100: var(--gray-100);
  --color-gray-50: var(--gray-50);
  --color-gray-25: var(--gray-25);
  --color-white: var(--white);
}
